@import '~@angular/material/theming';

@mixin tt-navigation-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  tt-navigation {
    .active {
      color: mat-color($primary) !important;
      font-weight: 700;
    }
  }
}
