<h1>Conference Kit</h1>

<div class="wrapper">
  <blockquote class="large">
    Would you like to provide interesting and valuable Angular content for the
    attendees of your conference or meetup?
  </blockquote>

  <h2><mat-icon>menu_book</mat-icon> Current topics</h2>
  <ul>
    <li>
      How to build custom Angular Schematics
      <mat-chip-list>
        <mat-chip color="primary" selected>Live coding</mat-chip>
      </mat-chip-list>
    </li>
    <li>
      The best way to lazy load Angular Elements
      <mat-chip-list>
        <mat-chip color="accent" selected>Presentation + demo</mat-chip>
      </mat-chip-list>
    </li>
    <li>
      Release Butler - A Twitter bot that Tweets changelogs of popular frontend
      frameworks and libraries
      <mat-chip-list>
        <mat-chip>⚡ talk</mat-chip>
      </mat-chip-list>
    </li>
  </ul>
  <h2><mat-icon>emoji_people</mat-icon> Speakers bio</h2>
  <p>
    Tomas Trajan is a Google Developer Expert for Angular and Web technologies.
    He is currently working as a consultant and Angular trainer with Swiss based
    enterprise organizations where he strives to provide a lot of value by
    empowering developer teams, sharing know-how and leveraging large network of
    experts and core contributors. This enables him to get things done -
    anything from a complex infrastructure topic, process automation or mission
    critical feature... Besides that he also writes an Angular focused blog,
    works on open source and speaks at various local and international meetups
    and conferences.
  </p>

  <h2><mat-icon>person</mat-icon> Profile pictures</h2>
</div>

<tt-gallery [images]="images" rowHeight="1:1" columns="4"></tt-gallery>

<tt-get-in-touch
  title="Let's chat"
  subtitle="Are you an organizer of a great conference or meetup and would you like to get some thought provoking Angular or frontend talk for you attendees?"
  call="Drop me a line or just ping me on Twitter @tomastrajan and we will figure out how to make that happen!"
></tt-get-in-touch>
