<h1>Conference Kit</h1>

<div class="wrapper">
  <blockquote class="large">
    Would you like to provide interesting and valuable Angular content for the
    attendees of your conference or meetup?
  </blockquote>

  <h2><mat-icon>menu_book</mat-icon> Current topics</h2>
  <ul>
    <li>
      The Best Way To Architect Your Angular Libraries
      <mat-chip-list>
        <mat-chip color="primary" selected>Live coding</mat-chip>
      </mat-chip-list>
    </li>
    <li>
      The best way to lazy load Angular Elements
      <mat-chip-list>
        <mat-chip color="accent" selected>Presentation + demo</mat-chip>
      </mat-chip-list>
    </li>
  </ul>
  <h2><mat-icon>emoji_people</mat-icon> Speakers bio</h2>
  <p>
    Tomas is a Google Developer Expert for Angular & Web Technologies working as
    a consultant and Angular trainer currently empowering teams in Swiss
    enterprise organizations by implementing core functionality and
    architecture, introducing best practices and sharing know-how and optimizing
    workflows.
    <br />
    <br />
    Tomas always strives to provide as much value as possible for both the
    customers and the wider developer community which is underlined by a long
    track record of popular articles, talks and open source projects.
  </p>

  <h2><mat-icon>person</mat-icon> Profile pictures</h2>
</div>

<tt-gallery [images]="images" rowHeight="1:1" columns="4"></tt-gallery>

<tt-get-in-touch
  title="Let's chat"
  subtitle="Are you an organizer of a great conference or meetup and would you like to get some thought provoking Angular or frontend talk for you attendees?"
  call="Drop me a line or just ping me on Twitter @tomastrajan and we will figure out how to make that happen!"
></tt-get-in-touch>
