@use '@angular/material' as mat;

@mixin workshop-background($background, $image-url) {
  background: linear-gradient(
      to bottom,
      mat.get-color-from-palette($background, background, 0) 200px,
      mat.get-color-from-palette($background, background, 1) 450px
    ),
    url($image-url);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@mixin workshop-background-responsive($background, $image-url) {
  background: linear-gradient(
      to bottom,
      mat.get-color-from-palette($background, card, 0) 20px,
      mat.get-color-from-palette($background, card, 1) 500px
    ),
    url($image-url);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

@mixin tt-workshops-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  tt-workshops {
    .background {
      h1 {
        background-color: mat.get-color-from-palette(
          $background,
          card
        ) !important;
      }

      h3 {
        background-color: mat.get-color-from-palette(
          $foreground,
          text
        ) !important;
        color: mat.get-color-from-palette($background, card) !important;
      }

      &.angular-mastery {
        @include workshop-background(
          $background,
          '../../../../assets/images/workshops/amw-splash1.jpg'
        );
      }

      &.angular-state-management {
        @include workshop-background(
          $background,
          '../../../../assets/images/workshops/workshops.jpg'
        );
      }

      &.angular-reactive-forms {
        @include workshop-background(
          $background,
          '../../../../assets/images/workshops/amw-splash-alt.jpg'
        );
      }

      &.frontend-heroes {
        @include workshop-background(
          $background,
          '../../../../assets/images/workshops/fhw-splash.jpg'
        );
      }

      &.getting-reactive-with-rxjs {
        @include workshop-background(
          $background,
          '../../../../assets/images/workshops/grwrw-splash.jpg'
        );
      }
    }
  }

  .responsive {
    tt-workshops {
      .background {
        &.angular-mastery {
          @include workshop-background-responsive(
            $background,
            '../../../../assets/images/workshops/amw-splash1.jpg'
          );
        }
        &.angular-state-management {
          @include workshop-background-responsive(
            $background,
            '../../../../assets/images/workshops/workshops.jpg'
          );
        }
        &.angular-reactive-forms {
          @include workshop-background-responsive(
            $background,
            '../../../../assets/images/workshops/amw-splash-alt.jpg'
          );
        }

        &.frontend-heroes {
          @include workshop-background-responsive(
            $background,
            '../../../../assets/images/workshops/fhw-splash.jpg'
          );
        }
      }
    }
  }
}
