@import '~@angular/material/theming';

@mixin tt-workshops-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  tt-workshops {
    .background {
      background: linear-gradient(
          to bottom,
          mat-color($background, card, 0) 200px,
          mat-color($background, card, 1) 450px
        ),
        url('./assets/images/workshops/workshops.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;

      h1 {
        background-color: mat-color($background, card) !important;
      }

      h3 {
        background-color: mat-color($foreground, text) !important;
        color: mat-color($background, card) !important;
      }
    }
  }

  .responsive {
    tt-workshops {
      .background {
        background: linear-gradient(
            to bottom,
            mat-color($background, card, 0) 20px,
            mat-color($background, card, 1) 7%
          ),
          url('./assets/images/workshops/workshops.jpg');
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: 50% 0;
      }
    }
  }
}
