:host {
  display: flex;
  flex-direction: column;
  padding: 40px;
  overflow: hidden;

  h3 {
    opacity: 0.5;
  }

  .talks {
    mat-grid-tile {
      overflow: visible;
    }

    mat-card {
      width: 100%;
      height: 608px;
      transition: box-shadow 0.2s ease;

      &:hover {
        box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
      }

      mat-card-header {
        height: 80px;
        overflow: hidden;
      }

      [mat-card-avatar] {
        img {
          width: 48px;
        }
      }

      [mat-card-image] {
        height: 300px;
        object-fit: cover;
      }

      p {
        min-height: 147px;
        font-size: 16px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
      }

      mat-card-actions {
        padding: 0 10px 10px 10px;
        a {
          margin: 0 10px 0 0;

          mat-icon {
            display: none;
          }
        }
      }
    }
  }
}

:host-context(.responsive) {
  mat-card {

    mat-card-actions {
      a {
        mat-icon {
          display: inline-block !important;
        }
        span {
          display: none !important;
        }
      }
    }
  }
}
