:host {
  display: flex;
  flex-direction: column;
  padding: 40px;
  overflow: hidden;

  h3 {
    opacity: 0.5;
  }

  .talks {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    mat-card {
      width: 400px;
      margin: 0 40px 40px 0;

      [mat-card-avatar] {
        img {
          width: 48px;
        }
      }

      mat-card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 350px;
      }

      [mat-card-image] {
        width: 432px;
        height: 300px;
        object-fit: cover;
      }

      p {
        height: 140px;
      }

      mat-card-actions {
        padding: 0 10px 10px 10px;
        a {
          margin: 0 10px 0 0;
        }
      }
    }
  }
}
