:host {
  position: relative;

  .logo {
    position: absolute;
    right: 0;
    top: -64px;
    height: 96px;
  }
}

:host-context(.responsive-large) {
  .logo {
    top: -32px;
    height: 128px;
  }
  .wrapper {
    width: 70%;
  }
}
