<h1>Release Butler</h1>

<img
  class="logo"
  src="../../../../assets/logo/releasebutler.png"
  alt="Release Butler - Twitter bot that tweets changelogs of popular frontend frameworks and libraries"
/>

<div class="wrapper">
  <blockquote class="large">
    <a href="https://releasebutler.now.sh" target="_blank" rel="noopener"
      >Release Butler</a
    >
    is a
    <a href="https://twitter.com/releasebutler" target="_blank" rel="noopener"
      >Twitter bot</a
    >
    that helps you to stay up to date with releases of popular frontend
    frameworks & libraries!
  </blockquote>

  <h2><mat-icon>help_outline</mat-icon> How it works</h2>
  <p>
    Release Butler has a list of GitHub open source projects he is interested in
    like Angular, React, Typescript, RxJs or many others... He checks their
    repositories <strong>every half hour</strong> to figure out if somebody
    created a new release. If yes, Release Butler grabs corresponding changelog,
    makes it beautiful and posts it on Twitter…
  </p>

  <h2><mat-icon>check_circle_outline</mat-icon> Goals</h2>
  <ol>
    <li>
      <strong>Reduce repetitive workflow</strong> when you had to manually check
      GitHub repositories for the new versions and changelogs of used libraries
    </li>
    <li>
      Decrease nagging FOMO when you didn’t check Twitter for a whole day and
      fear that you may have <strong>missed a release announcement</strong> by
      the author of the library you’re interested in
    </li>
    <li>
      Empower developers by providing them with a tool that enables them to
      <strong>generate beautifully looking changelogs</strong> which can be
      usedS in their blog posts, presentations or just to share with other peeps
    </li>
    <li>
      Ability to fill the role of the person who breaks the news to the rest of
      the team is optional 😉
    </li>
  </ol>
</div>

<tt-gallery [images]="images"></tt-gallery>

<div class="quote-wrapper">
  <blockquote class="large">
    <a href="https://twitter.com/releasebutler" target="_blank" rel="noopener"
      >Follow Release Butler</a
    >
    to stay up to date with releases of popular frontend frameworks & libraries!
  </blockquote>
</div>

<div class="wrapper">
  <h2><mat-icon>list_alt</mat-icon> Release types</h2>
  <p>
    Every tweet made by Release Butler is kept simple to focus only on what
    really matters… Besides obvious things like project name, version and
    changelog image, it also contains visual emoji-powered indicator for the
    release type…
  </p>

  <h2><mat-icon>image</mat-icon> Get beautiful changelog for your library</h2>
  <blockquote>
    Get a changelog of any version of your favorite open source project as a
    beautiful image and use it in your blog post, slides or tweet
  </blockquote>
  <p>
    Besides being a Twitter bot, Release Butler also comes with a
    <a href="https://releasebutler.now.sh" target="_blank" rel="noopener"
      >website</a
    >
    that enables you to get a changelog of any version of any open source
    library hosted on GitHub. All you have to do is to select a changelog type,
    provide repository name and version you’re looking for...
  </p>
</div>

<tt-get-in-touch></tt-get-in-touch>
