:host {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .intro {
      display: flex;
      margin: 450px 40px 40px 40px;
      max-width: 800px;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      position: relative;

      .main-quote {
        max-width: 800px;

        h1 {
          font-size: 18px !important;
          margin: 0 0 0 80px !important;
        }
        p {
          font-size: 13px !important;
          line-height: 17px !important;
          margin: 0 0 0 80px !important;
          opacity: 0.7;
        }
      }

      .avatar {
        position: absolute;
        top: -113px;
        left: 50%;
        margin-left: -75px;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 40px 0 40px;

    img {
      height: 64px;
      margin: 10px;
    }
  }

  .wrapper-normal {
    padding: 40px;

    .highlights {
      mat-grid-tile {
        overflow: visible;

        mat-card {
          &:hover {
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
          }

          mat-card-header {
            height: 85px;
            overflow: hidden;
          }

          [mat-card-avatar] {
            img {
              width: 48px;
            }
          }

          [mat-card-image] {
            height: 300px;
            object-fit: cover;
          }

          p {
            margin-bottom: 0 !important;
            min-height: 147px;
            font-size: 16px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            overflow: hidden;
          }

          mat-card-actions {
            padding: 0 10px 10px 10px;
            a {
              margin: 0 10px 0 0;

              mat-icon {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

:host-context(.responsive) {
  .wrapper {
    &:before {
      min-height: 275px !important;
    }

    .intro {
      flex-direction: column-reverse;
      margin-top: 300px;

      .main-quote {
        text-align: center !important;
        margin: 30px 20px 0 20px !important;
        h1,
        p {
          margin-left: 0 !important;
        }
      }
    }
  }
}
