<img class="avatar" src="assets/tomastrajan.png" alt="Tomas Trajan" />
<div class="intro">
  <h1>TOMAS TRAJAN</h1>
  <h3>
    Empowering developer teams, taking initiative and getting things done with Angular focused consulting services and workshops
  </h3>
  <div class="cta">
    <button mat-flat-button color="accent" routerLink="../consulting">
      Consulting
    </button>
    <button mat-flat-button color="primary" routerLink="../workshops">
      Workshops
    </button>
    <button mat-flat-button color="warn" routerLink="../speaking">
      Speaking
    </button>
    <button mat-stroked-button routerLink="../open-source">
      Open Source
    </button>
  </div>
</div>
<div class="technologies">
  <img
    src="../../../../assets/logo/angular.svg"
    alt="Angular"
    matTooltip="Angular"
    matTooltipPosition="above"
  />
  <img
    src="../../../../assets/logo/ngrx.svg"
    alt="NgRx"
    matTooltip="NgRx"
    matTooltipPosition="above"
  />
  <img
    src="../../../../assets/logo/rxjs.svg"
    alt="RxJs"
    matTooltip="RxJs"
    matTooltipPosition="above"
  />
  <img
    src="../../../../assets/logo/webcomponents.svg"
    alt="Web components"
    matTooltip="Web components"
    matTooltipPosition="above"
  />
  <img
    src="../../../../assets/logo/typescript.svg"
    alt="Typescript"
    matTooltip="Typescript"
    matTooltipPosition="above"
  />
  <img
    src="../../../../assets/logo/javascript.svg"
    alt="Javascript"
    matTooltip="Javascript"
    matTooltipPosition="above"
  />
  <img
    src="../../../../assets/logo/gde.png"
    alt="Google Developer Experts"
    matTooltip="Google Developer Expert for Angular"
    matTooltipPosition="above"
  />
</div>
