<div class="intro">
  <mat-icon
    inline
    svgIcon="logo"
    aria-hidden="false"
    aria-label="Tomas Trajan"
  ></mat-icon>
  <h1>TOMAS TRAJAN</h1>
  <h3>
    Angular focused Consulting, Workshops, Speaking, Open Source, ...
  </h3>
</div>

<div class="cta">
  <button mat-flat-button color="accent" routerLink="../consulting">
    Consulting
  </button>
  <button mat-flat-button color="primary" routerLink="../workshops">
    Workshops
  </button>
  <button mat-flat-button color="warn" routerLink="../speaking">
    Speaking
  </button>
</div>
