:host {
  padding: 25px 0 0 0;

  h1 {
    padding: 10px;
    margin: 30px 0;
    background-color: rgba(255, 255, 255, 1);
    display: inline;
    line-height: 60px !important;
  }

  .wrapper {
    display: flex;
    margin: 0 0 40px 0;

    &:first-of-type {
      margin-top: 110px;
    }

    &:last-of-type {
      margin: 0 0 0 0;
    }

    .description {
      flex: 1 1 0;

      ol {
        &:first-of-type {
          margin-right: 40px !important;
        }

        ol {
          margin: 10px 0 10px 40px;
        }
      }
    }
    .banner {
      flex: 1 1 0;

      img {
        width: 100%;
        border-radius: 4px;
      }
    }
  }
}

:host-context(.responsive) {
  .wrapper {
    flex-direction: column;

    ol {
      margin: 0 0 40px 0 !important;

      ol {
        margin-bottom: 10px !important;
      }
    }

    .description:last-of-type {
      ol {
        margin: 0 0 0 0 !important;
      }
    }
  }
}
