<h1>Angular&nbsp;<br />&nbsp;Mastery&nbsp;Workshop&nbsp;</h1>

<div class="wrapper">
  <div class="description" style="align-self: center">
    <blockquote>
      This workshop will teach you all necessary concepts to become proficient
      Angular developer by building a real world single page application!
    </blockquote>
    <p>
      We will go step by step through all the interesting concepts and hands on
      exercises to build up your knowledge and skills from introduction to web
      development and Typescript to detailed topics like Angular routing or lazy
      loading...
    </p>
  </div>

  <div class="banner">
    <img
      loading="lazy"
      src="../../../../assets/images/workshops/angular-mastery.jpg"
    />
  </div>
</div>

<div class="wrapper">
  <div class="description">
    <h2><mat-icon>account_balance</mat-icon> Angular Concepts</h2>
    <ol>
      <li>Angular introduction</li>
      <li>Angular ecosystem (release cycle, docs, …)</li>
      <li>Angular platform</li>
      <li>What's new in Angular</li>
      <li>Angular application high-level overview</li>
      <li>Angualr building blocks (modules, components, ...)</li>
      <li>Modules and dependency injection</li>
    </ol>
  </div>
  <div class="description">
    <h2><mat-icon>build</mat-icon> Angular CLI</h2>
    <ol>
      <li>Introduction</li>
      <li>Generation of workspace, application and entities</li>
      <li>Workspace structure</li>
      <li>Running the applications</li>
      <li>Building the applications</li>
      <li>Testing and code quality tooling</li>
      <li>Workspace configuration</li>
      <li>Developer productivity and convenience features</li>
    </ol>
  </div>
</div>
<div class="wrapper">
  <div class="description">
    <h2><mat-icon>directions_walk</mat-icon> Basic Angular</h2>
    <ol>
      <li>Displaying data using components</li>
      <li>User interaction</li>
      <li>Component life-cycle</li>
      <li>Component communication</li>
      <li>Reusable logic in services</li>
      <li>State management essentials</li>
    </ol>
  </div>
  <div class="description">
    <h2><mat-icon>directions_bike</mat-icon> Advanced Angular</h2>
    <ol>
      <li>Going bigger with Angular routing</li>
      <li>Backend communication</li>
      <li>Forms and validation</li>
      <li>Pipes and Directives</li>
      <li>Advanced template interactions (projection, content children, …)</li>
      <li>Environments & configuration</li>
    </ol>
  </div>
</div>
<div class="wrapper">
  <div class="description">
    <h2><mat-icon>directions_car</mat-icon> Master Angular</h2>
    <ol>
      <li>Change detection</li>
      <li>
        Advanced architecture (features, core module, shared module, eager vs
        lazy, ...)
      </li>
      <li>State management approaches, heuristics and libraries</li>
      <li>Internationalization (i18n)</li>
      <li>Enterprise architecture (reusable libraries, monorepo, …)</li>
    </ol>
  </div>
  <div class="description">
    <h2><mat-icon>train</mat-icon> Side-track</h2>
    <ol>
      <li>What’s new in frontend development</li>
      <li>Modern JavaScript (ES2015+) essentials</li>
      <li>Typescript for Angular developers</li>
      <li>Reactive programming and RxJs Basics</li>
      <li>One way data flow & immutability</li>
      <li>Community open-source libraries</li>
    </ol>
  </div>
</div>

<div class="wrapper">
  <div class="description">
    <h2><mat-icon>attachment</mat-icon> Extra Resources</h2>
    <ol>
      <li>Full presentation as PDF for further reference</li>
      <li>Many exercise projects (git repository)</li>
      <li>Fully working code example (reference exercise)</li>
      <li>Individual questions / exercise review during the hands on part</li>
    </ol>
  </div>
</div>

<tt-gallery [images]="images" rowHeight="1.70:1"></tt-gallery>

<tt-testimonials [testimonials]="testimonials"></tt-testimonials>

<tt-get-in-touch></tt-get-in-touch>
