.wrapper {
  margin-top: 120px;
  display: flex;

  .cta {
    flex: 1 1 0;
    margin: 0 40px 0 0;

    .title {
      font-size: 4em;
      line-height: 1.2em;
      font-weight: 700;
      text-transform: uppercase;
    }
    .subtitle {
      font-size: 1.5em;
      opacity: 0.6;
    }
    .call {
      font-size: 1.5em;
    }
  }

  form {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;

    mat-card {
      padding: 23px;
    }

    mat-form-field {
      width: 100%;
    }

    .spacer {
      flex: 1 0 auto;
    }

    .row {
      display: flex;

      mat-form-field {
        width: auto;
        flex: 1 0 auto;

        &:first-child {
          margin: 0 20px 0 0;
        }
      }

      button {
        width: auto;
        flex: 1 0 auto;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-top: 20px !important;

        &:first-child {
          margin: 0 20px 0 0;
          flex: 2 0 auto;
        }
      }
    }
  }
}

:host-context(.responsive, .cols-2) {
  .wrapper {
    flex-direction: column;

    form {
      .row {
        flex-direction: column;

        mat-form-field {
          &:first-child {
            margin: 0;
          }
        }
        button {
          &:first-child {
            margin: 0;
          }
        }
      }
    }
  }
}

:host-context(.responsive-large, .cols-3) {
  .wrapper {
    padding: 0 5%;
  }
}
