:host {
  width: 100%;
  display: flex;
  padding: 40px 20%;

  .cta {
    .title {
      font-size: 4em;
      font-weight: 700;
    }
    .subtitle {
      font-size: 1.5em;
      opacity: 0.6;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    mat-card {
      padding: 23px;
    }

    mat-form-field {
      width: 100%;
    }

    .spacer {
      flex: 1 0 auto;
    }

    .row {
      display: flex;

      mat-form-field {
        width: auto;
        flex: 1 0 auto;

        &:first-child {
          margin: 0 20px 0 0;
        }
      }

      button {
        width: auto;
        flex: 1 0 auto;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-top: 20px !important;

        &:first-child {
          margin: 0 20px 0 0;
          flex: 2 0 auto;
        }
      }
    }
  }
}
