@import '~@angular/material/theming';

@mixin tt-get-in-touch-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  tt-get-in-touch {
    .cta {
      .call {
        color: mat-color($accent);
      }
    }
  }
}
