<h1>Medium Enhanced Stats</h1>

<img
  loading="lazy"
  class="logo"
  src="../../../../assets/logo/mediumenhancedstats.webp"
  alt="Medium Enhanced Stats - A Chrome Extensions that gives you overview about your total reach, stats and much more"
/>

<div class="wrapper">
  <blockquote class="large">
    <a
      href="https://chrome.google.com/webstore/detail/medium-enhanced-stats/jnomnfoenpdinfkpaaigokicgcfkomjo"
      target="_blank"
      rel="noopener"
      >Medium Enhanced Stats</a
    >
    is a Chrome extension which gives your total reach and summary stats of your
    articles (and responses) with a single click without need to visit Medium
    itself!
  </blockquote>

  <p>
    Besides that it also adds lots of useful improvements and information to the
    original Medium stats page!
  </p>

  <h2><mat-icon>favorite_border</mat-icon> Motivation</h2>
  <blockquote>
    I have been using Medium for years and I was always curious about the total
    reach of my articles
  </blockquote>
  <p>
    Unfortunately, Medium stats can be described only as very basic. Even simple
    stuff like a summary row with a total count of the views and reads at the
    bottom of the table is unfortunately missing...
  </p>
  <p>
    The only solution was to add up the numbers manually which is a boring,
    error-prone process. It gets progressively more tedious with the increasing
    number of articles, so you basically get punished for being a productive
    writer…
  </p>
</div>

<tt-gallery [images]="images"></tt-gallery>

<div class="wrapper">
  <h2><mat-icon>playlist_add_check</mat-icon> What do you get</h2>
  <ol>
    <li>Total reach indicator</li>
    <li>Milestone tracking and celebration</li>
    <li>Bar chart article published markers</li>
    <li>Stats table summary row</li>
    <li>Extra claps count column with additional info</li>
    <li>Article contribution chart (to the daily totals)</li>
    <li>Support for both users and publications</li>
    <li>
      One click screenshot of your total reach for sharing on social media
    </li>
    <li>One click .csv export of your stats for further analysis</li>
    <li>Notification popup with notification counts per notifications type</li>
  </ol>
</div>

<div class="quote-wrapper">
  <blockquote class="large">
    Check out and download
    <a
      href="https://chrome.google.com/webstore/detail/medium-enhanced-stats/jnomnfoenpdinfkpaaigokicgcfkomjo"
      target="_blank"
      rel="noopener"
      >Medium Enhanced Stats</a
    >
    to get better insights and provide even more value for your readers!
  </blockquote>
</div>

<tt-get-in-touch></tt-get-in-touch>
