<h1>Medium Enhanced Stats</h1>

<img
  class="logo"
  src="../../../../assets/logo/mediumenhancedstats.png"
  alt="Medium Enhanced Stats - A Chrome Extensions that gives you overview about your total reach, stats and much more"
/>

<div class="wrapper">
  <blockquote class="large">
    <a
      href="https://chrome.google.com/webstore/detail/medium-enhanced-stats/jnomnfoenpdinfkpaaigokicgcfkomjo"
      target="_blank"
      rel="noopener"
      >Medium Enhanced Stats</a
    >
    is a ...
  </blockquote>

  <h2><mat-icon>help_outline</mat-icon> WHat is it about</h2>
  <blockquote>
    I have been using Medium for years and I was always curious about the total
    reach of my articles
  </blockquote>
  <p>
    Unfortunately, Medium stats can be described only as very basic or, to be
    frank, utterly lacking in the feature department. Even simple stuff like a
    summary row with a total count of the views and reads at the bottom of the
    table is missing...
  </p>
</div>
