<h1>Angular&nbsp;<br />&nbsp;Reactive Forms&nbsp;<br />&nbsp;Workshop&nbsp;</h1>

<div class="wrapper">
  <div class="description" style="align-self: center">
    <blockquote>
      This workshop will teach you proven theoretical and hands on experience
      with Angular reactive forms to develop robust forms that can handle most
      complex enterprise use cases!
    </blockquote>
    <p>
      We are going to explore what building blocks Angular provides when
      implementing robust reactive forms and how to use them together to achieve
      desired results while following latest best practices...
    </p>
  </div>

  <div class="banner">
    <img
      loading="lazy"
      src="../../../../assets/images/workshops/angular-reactive-forms.jpg"
    />
  </div>
</div>

<div class="wrapper">
  <div class="description">
    <h2><mat-icon>account_balance</mat-icon> Concepts and Basics</h2>
    <ul>
      Angu
      <li>lar reactive forms introduction</li>
      <li>Difference between Angular template driven and reactive forms</li>
      <li>FormControl, FormGroup & FormArray</li>
      <li>Getting declarative with FormBuilder</li>
      <li>
        Let’s build our first form (default values, validators, bind in
        template)
      </li>
      <li>Form value changes stream</li>
      <li>Form submission</li>
      <li>Testing</li>
    </ul>
  </div>
  <div class="description">
    <h2><mat-icon>build</mat-icon> Practical Reactive Forms</h2>
    <ul>
      <li>Setting form value programmatically</li>
      <li>
        Displaying validation (and accessing validation data in the template)
      </li>
      <li>Custom validators</li>
      <li>Display validation on submit</li>
      <li>Resetting form (and validations)</li>
      <li>Add (and remove) validators based on form data</li>
      <li>Nested forms</li>
      <li>Custom form controls (Control Value Accessor)</li>
    </ul>
  </div>
</div>

<tt-gallery [images]="images" rowHeight="1.70:1"></tt-gallery>

<tt-testimonials [testimonials]="testimonials"></tt-testimonials>

<tt-get-in-touch></tt-get-in-touch>
