.stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  p, a {
    font-size: 18px !important;
    margin: 0 40px 20px 0 !important;
    text-align: center;

    mat-icon {
      border-radius: 50%;
      padding: 5px;
      margin: 0 10px 10px 0;
      position: relative;
      top: 5px;
    }
  }

  a {
    mat-icon {
      margin: 0 7px 10px 0;
    }
  }
}


:host-context(.responsive) {
  .quote-wrapper {
    padding: 0;
  }
}


:host-context(.responsive-large) {
  .wrapper {
    width: 70%;
  }
}

