<h1>Angular NgRx Material Starter</h1>

<div class="wrapper">
  <div class="stats">
    <p matTooltip="GitHub stars"><mat-icon>star</mat-icon>2600+</p>
    <p matTooltip="GitHub forks"><mat-icon>call_split</mat-icon>850+</p>
    <p matTooltip="GitHub contributors"><mat-icon>people</mat-icon>50+</p>
    <p matTooltip="GitHub clones / week"><mat-icon>get_app</mat-icon>200+</p>
    <a
      href="https://github.com/tomastrajan/angular-ngrx-material-starter"
      target="_blank"
      rel="noopener"
      matTooltip="GitHub repo"
    >
      <mat-icon>code</mat-icon>
      Repo
    </a>
    <a
      href="https://tomastrajan.github.io/angular-ngrx-material-starter"
      target="_blank"
      rel="noopener"
      matTooltip="Demo"
    >
      <mat-icon>play_arrow</mat-icon>
      Demo
    </a>
  </div>

  <blockquote class="large">
    The
    <a
      href="https://tomastrajan.github.io/angular-ngrx-material-starter"
      target="_blank"
      rel="noopener"
      >Angular NgRx Material Starter</a
    >
    is a community built
    <a
      href="https://github.com/tomastrajan/angular-ngrx-material-starter"
      target="_blank"
      rel="noopener"
      >open source</a
    >
    projects that helps you get started with Angular by exploring real world
    project!
  </blockquote>

  <h2><mat-icon>photo</mat-icon> How does it look</h2>

  <tt-gallery [images]="images"></tt-gallery>

  <h2><mat-icon>double_arrow</mat-icon> Get started</h2>
  <p>Get started and see it for yourself in these four simple steps...</p>
  <ol>
    <li>
      <code color="primary"
        >git clone
        https://github.com/tomastrajan/angular-ngrx-material-starter.git
        new-project</code
      >
    </li>
    <li><code color="primary">cd new-project</code></li>
    <li><code color="primary">npm ci</code></li>
    <li><code color="primary">npm start</code></li>
  </ol>

  <h2><mat-icon>playlist_add_check</mat-icon> Features</h2>

  <ol>
    <li>Responsive layout</li>
    <li>Multiple themes and runtime theme switching</li>
    <li>Multiple languages and runtime language switching</li>
    <li>Configurable animations</li>
    <li>Examples of various real world features</li>
    <li>Reactive forms</li>
    <li>NgRx state management</li>
    <li>Angular Material component framework</li>
  </ol>
</div>
