// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: 'Sora, sans-serif',
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$elements-tt-primary: mat-palette($mat-blue, 800, 600, 900);
$elements-tt-primary-dark: mat-palette($mat-blue, 200, 500, 800);
//$elements-tt-primary-dark: mat-palette($mat-blue, 300, 200, 400);
$elements-tt-accent: mat-palette($mat-blue, 100, 100, 300);

// The warn palette is optional (defaults to red).
$elements-tt-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$elements-tt-theme: mat-light-theme(
  $elements-tt-primary,
  $elements-tt-accent,
  $elements-tt-warn
);

// Create the theme object (a Sass map containing all of the palettes).
$elements-tt-theme-dark: mat-dark-theme(
  $elements-tt-primary-dark,
  $elements-tt-accent,
  $elements-tt-warn
);

// custom theme imports
@import './styles-reset.scss-theme';
@import './app/app.component.scss-theme';
@import './app/core/layout/toolbar/toolbar.component.scss-theme';
@import './app/core/layout/navigation/navigation.component.scss-theme';
@import './app/core/layout/footer/footer.component.scss-theme';
@import './app/shared/get-in-touch/get-in-touch.component.scss-theme';
@import './app/features/home/home/home.component.scss-theme';
@import './app/features/open-source/projects/projects.component.scss-theme';
@import './app/features/open-source/angular-starter/angular-starter.component.scss-theme';
@import './app/features/open-source/angular-elements/angular-elements.component.scss-theme';
@import './app/features/workshops/workshops/workshops.component.scss-theme';

@mixin custom-components-theme($theme) {
  // include custom components themes
  @include styles-reset-theme($theme);
  @include tt-root-component-theme($theme);
  @include tt-toolbar-component-theme($theme);
  @include tt-navigation-component-theme($theme);
  @include tt-footer-component-theme($theme);
  @include tt-get-in-touch-component-theme($theme);
  @include tt-home-component-theme($theme);
  @include tt-open-source-projects-component-theme($theme);
  @include tt-open-source-angular-starter-component-theme($theme);
  @include tt-open-source-angular-elements-component-theme($theme);
  @include tt-workshops-component-theme($theme);
}

@include angular-material-typography($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($elements-tt-theme);
@include custom-components-theme($elements-tt-theme);

.dark {
  @include angular-material-theme($elements-tt-theme-dark);
  @include custom-components-theme($elements-tt-theme-dark);
}
