* {
  margin: 0;
  padding: 0;
  outline: 0;
  transition: background-color 250ms ease;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: 3em !important;
  line-height: 1.25em !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 26px !important;
  mat-icon {
    font-size: 30px !important;
    position: relative;
    left: -6px;
    top: 5px;
  }
}

h3 {
  font-size: 20px !important;
}

p, ul, ol {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px !important;
}

ul, ol {
  position: relative;
  left: 24px;
  list-style-position: outside;
  line-height: 35px;

  li {
    padding-left: 6px;
  }
}

ul {
  left: 22px;
}

a {
  text-decoration: none;
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px 8px;
  margin: 0 5px;
}

pre {
  border-radius: 10px;
  padding: 20px !important;
  margin: 0 0 20px 0;
}

blockquote {
  font-style: italic;
  padding: 10px 20px;
  border-left: 2px solid;
  margin: 20px 0;
  font-size: 1.5em;
  line-height: 1.2em;

  &.large {
    font-family: Patua One, serif;
    position: relative;
    font-style: normal;
    border: 0;
    font-size: 2em;
    line-height: 1.6em;
    padding: 10px 80px;

    &::after {
      pointer-events: none;
      content: '“';
      position: absolute;
      top: 25px;
      left: 0;
      font-size: 5em;
    }
  }
}

.responsive {

  blockquote {
    &.large {
      margin-top: 30px;
      font-size: 1.6em;
      padding: 30px 10px 10px 10px;
      text-align: center;

      &::after {
        top: 0;
        left: 50%;
        margin-left: -25px;
      }
    }
  }
}

snack-bar-container {
  position: relative;
  top: 60px;
}

.cdk-overlay-pane {
  max-height: 95vh;
  max-width: 90vw !important;
}
