* {
  margin: 0;
  padding: 0;
  outline: 0;
  transition: background-color 250ms ease;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: 3em !important;
  line-height: 1.25em !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
}

ul,
ol {
  list-style-position: inside;
  line-height: 2em;
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px 8px;
  margin: 0 5px;
}

pre {
  border-radius: 10px;
  padding: 20px !important;
  margin: 0 0 20px 0;
}

p {
  line-height: 2em;
}

a {
  text-decoration: none;
}

blockquote {
  font-style: italic;
  padding: 10px 20px;
  border-left: 2px solid;
  margin: 20px 0;
  font-size: 1.5em;
  line-height: 1.2em;

  &.large {
    font-family: Patua One, serif;
    position: relative;
    font-style: normal;
    border: 0;
    font-size: 2em;
    line-height: 1.6em;
    padding: 10px 80px;

    &::after {
      pointer-events: none;
      content: '“';
      position: absolute;
      top: 25px;
      left: 0;
      font-size: 5em;
    }
  }
}

.responsive {
  blockquote {
    &.large {
      font-size: 1.6em;
      padding: 10px 20px;
      padding-left: 65px;
    }
  }
}

snack-bar-container {
  position: relative;
  top: 60px;
}
