// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$elements-tt-primary: mat-palette($mat-red, 700, 600, 900);
$elements-tt-accent: mat-palette($mat-pink, 900);

// The warn palette is optional (defaults to red).
$elements-tt-warn: mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$elements-tt-theme: mat-light-theme(
  $elements-tt-primary,
  $elements-tt-accent,
  $elements-tt-warn
);

// custom theme imports
@import './styles-reset.scss-theme';
@import './app/app.component.scss-theme';
@import './app/core/layout/navigation/navigation.component.scss-theme';
@import './app/core/layout/footer/footer.component.scss-theme';

@mixin custom-components-theme($theme) {
  // include custom components themes
  @include styles-reset-theme($theme);
  @include tt-root-component-theme($theme);
  @include tt-navigation-component-theme($theme);
  @include tt-footer-component-theme($theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($elements-tt-theme);
@include custom-components-theme($elements-tt-theme);
