@use '@angular/material' as mat;

@mixin tt-toolbar-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  mat-toolbar {
    background-color: mat.get-color-from-palette($background, card) !important;

    a {
      &:hover {
        color: mat.get-color-from-palette($primary) !important;
      }
      &.active {
        color: mat.get-color-from-palette(
          $primary,
          lighter-contrast
        ) !important;
        background-color: mat.get-color-from-palette(
          $primary,
          lighter
        ) !important;

        &:hover {
          color: mat.get-color-from-palette(
            $primary,
            lighter-contrast
          ) !important;
        }
      }
    }
  }
}
