.project-name {
  padding: 0 0 0 10px;
  font-weight: 800;
}

.logo {
  height: 50px;
  width: 50px;
  img {
    height: 50px;
    width: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }
}

.spacer {
  flex: 1 0 auto;
}

button {
  margin: 0 0 0 10px;
}

.menu {
  margin: 0 10px 0 0;
}

a {
  &:hover {
    color: #fff;
  }
}

iframe {
  width: 190px;
  height: 20px;
  margin: 0 0 0 10px;
}

:host-context(.responsive) {
  .spacer-responsive {
    flex: 1 0 auto;
  }

  .logo {
    position: relative;
    left: 32px;
    height: 44px;
    width: 44px;
    img {
      height: 44px;
      width: 44px;
    }
  }
}
