:host {
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;

  .signature {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 50%;
      height: 36px;
      margin: 0 10px;
    }

    mat-icon {
      margin: 0 10px;
    }
  }
}

:host-context(.responsive) {
  .signature {
    span {
      display: none;
    }
  }
}
