<h3>Consulting</h3>

<h1>
  Swiss based consulting<br />
  for enterprises & startups
</h1>

<div class="wrapper">
  <div class="description">
    <blockquote class="large">
      Empowering developer teams, taking initiative and getting things done
    </blockquote>
    <blockquote>
      Let's face it. It can be pretty hard to keep up with the recent frontend
      development technology churn. The development paradigms and frameworks
      come and go on a regular basis!
    </blockquote>
    <p>
      The teams have to adapt to the ever changing environment trying to keep up
      with the new versions and evolving best practices...
    </p>
  </div>
  <div class="description">
    <img
      loading="lazy"
      src="../../../assets/images/consulting/switzerland.svg"
      alt="Swiss
      based consulting for startups and enterprises in Switzerland"
    />
  </div>
</div>

<div class="wrapper banner">
  <img
    loading="lazy"
    src="../../../assets/images/consulting/angular-experts-banner.webp"
    alt="Angular Experts Consulting"
  />
  <a
    color="primary"
    mat-raised-button
    rel="noopener"
    target="_blank"
    href="https://angularexperts.io"
    >EXPLORE CONSULTING OFFER</a
  >
</div>

<div class="wrapper">
  <div class="description">
    <h2><mat-icon>warning</mat-icon> Recent challenges</h2>
    <ul>
      <li>Advent of reactive programming with RxJs</li>
      <li>Increased scale and amount of frontend projects</li>
      <li>Widespread adoption of Typescript</li>
      <li>Microservices on the frontend (Microfrontends)</li>
      <li>Advent of web components and related libraries</li>
      <li>...</li>
    </ul>
  </div>
  <div class="description">
    <h2><mat-icon>emoji_objects</mat-icon> Offered value</h2>
    <ul>
      <li>Expert level Angular know-how</li>
      <li>Large network of experts and core contributors</li>
      <li>Introduction of best practices</li>
      <li>Coaching / support of the team members</li>
      <li>Determining right architecture / approach for the given use case</li>
      <li>Full end to end toolchain know-how (tooling / build / deployment)</li>
      <li>...</li>
    </ul>
  </div>
</div>

<div class="quote-wrapper">
  <blockquote class="large">
    Empower Your team by bringing in Angular expertise and leverage the vast
    network of experts and core contributors
  </blockquote>
</div>

<tt-get-in-touch></tt-get-in-touch>
