:host {
  display: flex;
  flex-direction: column;
  padding: 40px;
  overflow: hidden;

  h3 {
    opacity: 0.5;
  }

  .wrapper {
    display: flex;
    margin: 0 0 40px 0;

    &:first-of-type {
      .description {
        justify-content: center;

        &:first-of-type > * {
          padding-right: 80px;
        }
      }
    }

    &:last-of-type {
      margin: 0 0 0 0;
    }

    .description {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
    }
    img {
      width: 100%;
    }
  }

  img {
    width: 100%;
  }

  .quote-wrapper {
    padding: 0 10%;
    display: flex;
    justify-content: center;
  }
}

:host-context(.responsive) {
  .wrapper {
    flex-direction: column;

    &:first-of-type {
      flex-direction: column-reverse;

      .description {
        &:first-of-type > * {
          padding-right: 0;
        }
      }
    }

    ul {
      margin: 0 0 40px 0 !important;
    }

    .description:last-of-type {
      ul {
        margin: 0 0 0 0 !important;
      }
    }
  }
  .quote-wrapper {
    padding: 0;
  }
}
