<h3>Consulting</h3>

<h1>Swiss based consulting for enterprises</h1>

<div class="wrapper">
  <div class="description">
    <blockquote class="large">
      Empowering developer teams, taking initiative and getting things done
    </blockquote>
    <blockquote>
      Let's face it. It can be pretty hard to keep up with the recent frontend
      development technology churn. The development paradigms and frameworks
      come and go on a regular basis!
    </blockquote>
    <p>
      The teams have to adapt to the changing environment trying to keep up with
      the new versions and evolving best practices of the framework of their
      choice.
    </p>
  </div>
  <div class="description">
    <img
      src="../../../assets/images/consulting/switzerland.svg"
      alt="Swiss
      based consulting for startups and enterprises in Switzerland"
    />
  </div>
</div>

<div class="wrapper">
  <div class="description">
    <h2>Recent challenges</h2>
    <ul>
      <li>Advent of reactive programming (RxJs)</li>
      <li>Migration of the Angular JS code bases to Angular</li>
      <li>Widespread adoption of Typescript</li>
      <li>Microservices on the frontend (Microfrontends)</li>
      <li>Advent of web components and related libraries</li>
      <li>...</li>
    </ul>
  </div>
  <div class="description">
    <h2>Offered value</h2>
    <ul>
      <li>Deep Angular JS / Angular know-how</li>
      <li>Large network of experts and core contributors</li>
      <li>Introduction of best practices</li>
      <li>Coaching / support of the team members</li>
      <li>Determining right architecture / approach for the given use case</li>
      <li>Full end to end toolchain know-how (tooling / build / deployment)</li>
      <li>...</li>
    </ul>
  </div>
</div>

<div class="quote-wrapper">
  <blockquote class="large">
    Empower you team by bringing in Angular expertise and leverage the vast network of experts and core contributors
  </blockquote>
</div>

<tt-get-in-touch></tt-get-in-touch>
