@import '~@angular/material/theming';

@mixin tt-open-source-angular-elements-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  tt-angular-elements {
    .stats {
      mat-icon {
        background-color: mat-color($accent);
      }
    }
  }
}
