<h1>Angular Zurich Meetup</h1>

<div class="wrapper">
  <p>Content ...</p>
  <h2>Angular Zurich Meetup Presentations</h2>
</div>

<mat-grid-list
  class="videos"
  [cols]="columnCount | async"
  rowHeight="16:9"
  gutterSize="40"
>
  <mat-grid-tile *ngFor="let videoUrl of videoUrls | async">
    <iframe
      loading="lazy"
      [src]="videoUrl"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </mat-grid-tile>
</mat-grid-list>

<tt-get-in-touch
  title="Let's meet"
  subtitle="Are you a speaker with great talks about Angular and related technologies and would you like to visit beautiful Zurich?"
  call="Drop us a line or fill out the CFP form at angularzurich.dev website"
></tt-get-in-touch>
