<h1>Angular Zurich Meetup</h1>

<img
  class="logo"
  src="../../../../assets/logo/angularzurich.png"
  alt="Angular Zurich Meetup"
/>

<div class="wrapper">
  <p>
    Angular Zurich is a local Swiss Angular community based in the beautiful
    city of Zurich. Local and international speakers are sharing their Angular
    know-how and experience in form of full length (45 min) and lightning (15
    min) talks. The meetup is usually taking place once a month.
  </p>

  <p>
    Check out the
    <a href="https://www.meetup.com/AngularZRH/" target="_blank"
      >upcoming meetups</a
    >
    and all other social links on the
    <a href="https://angularzurich.dev" target="_blank">Angular Zurich</a>
    website.
  </p>
  <p>
    The meetup is organized by
    <a href="https://twitter.com/crlsmrls_" target="_blank">Carlos Morales</a>,
    <a href="https://twitter.com/GionKunz" target="_blank">Gion Kunz</a> and
    <a href="https://twitter.com/tomastrajan" target="_blank">Tomas Trajan</a>.
  </p>
  <h2>Angular Zurich Meetup Presentations</h2>
</div>

<mat-grid-list
  class="videos"
  [cols]="columnCount | async"
  rowHeight="16:9"
  gutterSize="40"
>
  <mat-grid-tile *ngFor="let videoUrl of videoUrls | async">
    <iframe
      loading="lazy"
      [src]="videoUrl"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </mat-grid-tile>
</mat-grid-list>

<tt-get-in-touch
  title="Let's meet"
  subtitle="Are you a speaker with great talks about Angular and related technologies and would you like to visit beautiful Zurich?"
  [call]="cta"
></tt-get-in-touch>
