:host {
  display: flex;
  flex-direction: column;
  padding: 40px;
  overflow: hidden;

  h3 {
    opacity: 0.5;
  }

  .projects {
    mat-grid-tile {
      overflow: visible;
    }

    mat-card {
      width: 100%;
      transition: box-shadow 0.2s ease;
      overflow: hidden;

      &.placeholder {
        height: 158px;
        pointer-events: none;

        mat-card-title {
          height: 20px;
          width: 160px;
          border-radius: 5px;
          animation: shine-lines 2s infinite linear;
        }

        mat-card-subtitle {
          height: 20px;
          width: 200px;
          border-radius: 5px;
          animation: shine-lines 2s infinite linear;
        }

        [mat-card-avatar] {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          animation: shine-avatar 2s infinite linear;
        }

        @keyframes shine-lines {
          0% {
            background-position: -100px;
          }
          40%,
          100% {
            background-position: 240px;
          }
        }
        @keyframes shine-avatar {
          0% {
            background-position: -100px + 68;
          }
          40%,
          100% {
            background-position: 240px + 68;
          }
        }
      }

      &:hover {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
      }

      mat-card-header {
        height: 120px;
        overflow: hidden;
      }

      [mat-card-avatar] {
        img {
          width: 48px;
          border-radius: 50%;
        }
      }

      mat-card-actions {
        height: 36px !important;
        display: flex;
        padding: 0 10px 10px 10px;

        a {
          margin: 0 10px 0 0;
        }

        span {
          display: inline-block;
          margin: 0 10px 0 0;

          mat-icon {
            position: relative;
            top: 6px;
          }
        }

        .spacer {
          flex: 1 0 auto;
        }
      }
    }
  }
}
