:host {
  display: flex;
  flex-direction: column;
  padding: 40px;
  overflow: hidden;

  h3 {
    opacity: 0.5;
  }

  .projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    mat-card {
      width: 400px;
      margin: 0 40px 40px 0;
      transition: box-shadow 0.2s ease;

      &:hover {
        box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
      }

      mat-card-header {
        height: 100px;
      }

      [mat-card-avatar] {
        img {
          width: 48px;
          border-radius: 50%;
        }
      }

      mat-card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 350px;
      }

      mat-card-actions {
        display: flex;
        padding: 0 10px 10px 10px;

        a {
          margin: 0 10px 0 0;
        }

        span {
          display: inline-block;
          margin: 0 10px 0 0;

          mat-icon {
            position: relative;
            top:6px;
          }
        }

        .spacer {
          flex: 1 0 auto;
        }
      }
    }
  }
}
