@import '~@angular/material/theming';

@mixin tt-open-source-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  tt-open-source {
    .projects {
      mat-card {
        &.placeholder {
          background-color: mat-color($background, card);

          [mat-card-avatar],
          mat-card-title,
          mat-card-subtitle {
            background-color: mat-color($background, app-bar);
            background-image: linear-gradient(
              90deg,
              mat-color($background, app-bar) 0px,
              mat-color($background, card) 40px,
              mat-color($background, app-bar) 80px
            );
            background-size: 600px;
          }

          [mat-flat-button] {
            background-color: mat-color($background, app-bar);
          }
        }
      }
    }
  }
}
