<h1>Frontend Heroes&nbsp;<br />&nbsp;Workshop</h1>

<div class="wrapper">
  <div class="description" style="align-self: center">
    <blockquote>
      This workshop will teach you all the necessary concepts to kickstart your
      enterprise frontend development expertise.
    </blockquote>
    <p>
      We are going to explore and get hands on experience with frontend platform
      fundamentals like HTML, CSS and JavaScript together with most essential
      developer tools and environments!
    </p>
  </div>

  <div class="banner">
    <img
      loading="lazy"
      src="../../../../assets/images/workshops/frontend-heroes.jpg"
    />
  </div>
</div>

<div class="wrapper">
  <div class="description">
    <h2><mat-icon>account_balance</mat-icon> Web Development Basics</h2>
    <ul>
      <li>HTML essentials</li>
      <li>HTML tags and attributes</li>
      <li>Document Object Model</li>
      <li>CSS basics</li>
      <li>CSS box model</li>
      <li>CSS frameworks</li>
      <li>JavaScript introduction</li>
      <li>Basic language constructs</li>
      <li>Accessing and manipulating the DOM</li>
    </ul>
  </div>

  <div class="description">
    <h2><mat-icon>build_circle</mat-icon> Node.js & NPM</h2>
    <ul>
      <li>What is Node.js</li>
      <li>What is NPM</li>
      <li>Exploring the package.json</li>
      <li>Dependencies vs DevDependencies</li>
      <li>Learn to work with npm scripts</li>
      <li>The npx command</li>
      <li>Understand package-lock.json</li>
    </ul>
  </div>
</div>
<div class="wrapper">
  <div class="description">
    <h2><mat-icon>language</mat-icon> Typescript</h2>
    <ul>
      <li>Introduction</li>
      <li>Language features</li>
      <li>Linting with tslint</li>
      <li>Compilation options with tsconfig</li>
      <li>Compile TypeScript into JavaScript</li>
    </ul>
  </div>
  <div class="description">
    <h2><mat-icon>web</mat-icon> Chrome Developer Tools</h2>
    <ul>
      <li>Introduction to Chrome's developer tools</li>
      <li>Debugging in the browser</li>
      <li>Manipulating the DOM with the developer tools</li>
      <li>Adjusting styles with the developer tools</li>
    </ul>
  </div>
</div>
<div class="wrapper">
  <div class="description">
    <h2><mat-icon>bug_report</mat-icon> Testing</h2>
    <ul>
      <li>Testing pyramid</li>
      <li>Unit testing frameworks overview</li>
      <li>E2E testing frameworks overview</li>
    </ul>
  </div>
  <div class="description">
    <h2><mat-icon>handyman</mat-icon> Frontend Frameworks</h2>
    <ul>
      <li>Why do we need framework</li>
      <li>History and evolution of frameworks</li>
      <li>Angular overview</li>
      <li>React overview</li>
      <li>Vue overview</li>
    </ul>
  </div>
</div>

<tt-gallery [images]="images" rowHeight="1.70:1"></tt-gallery>

<tt-testimonials [testimonials]="testimonials"></tt-testimonials>

<tt-get-in-touch></tt-get-in-touch>
