<h1>Angular State Management Workshop</h1>

<div class="wrapper">
  <div class="description" style="align-self: center">
    <blockquote>
      This workshop will teach you all the necessary concepts to become
      confident and productive in relation to Angular state management.
    </blockquote>
    <p>
      We will explore various ways of handling state, heuristics on which way to
      choose based on the particular use case and many hands on exercises!
    </p>
  </div>

  <div class="banner">
    <img
      loading="lazy"
      src="../../../../assets/images/workshops/angular-state-management.jpg"
    />
  </div>
</div>

<div class="wrapper">
  <div class="description">
    <h2><mat-icon>school</mat-icon> Theory</h2>
    <ol>
      <li>Introduction to state management</li>
      <li>State types overview</li>
      <li>Where can state be stored</li>
      <li>Immutability</li>
      <li>State synchronization</li>
      <li>Approaches to state handling</li>
      <li>Heuristics</li>
      <li>State management libraries overview</li>
    </ol>
  </div>

  <div class="description">
    <h2><mat-icon>keyboard</mat-icon> Hands on exercises</h2>
    <ol>
      <li>Component state management</li>
      <li>Service based state management</li>
      <li>NgRx (with comparison of versions 7 and 8 )</li>
      <li>
        NgRx 8 state management basics

        <ol>
          <li>Schematics</li>
          <li>Actions ( + best practices )</li>
          <li>Reducers</li>
          <li>Selectors</li>
          <li>Effects</li>
          <li>Testing</li>
        </ol>
      </li>
      <li>Advanced NgRx 8 concepts</li>
    </ol>
  </div>
</div>

<tt-gallery [images]="images" rowHeight="1.70:1"></tt-gallery>

<tt-get-in-touch></tt-get-in-touch>
