<h1>Angular State Management Workshop</h1>

<div class="wrapper">
  <div class="description" style="align-self: center">
    <blockquote>
      This workshop will teach you all the necessary concepts to become
      confident and productive in relation to Angular state management.
    </blockquote>
    <p>
      We will explore various ways of handling state, heuristics on which way to
      choose based on the particular use case and many hands on exercises!
    </p>
  </div>

  <div class="banner">
    <img
      loading="lazy"
      src="../../../../assets/images/workshops/angular-state-management.jpg"
    />
  </div>
</div>

<div class="wrapper">
  <div class="description">
    <h2><mat-icon>school</mat-icon> General State Management</h2>
    <ol>
      <li>Introduction to state management</li>
      <li>State types overview</li>
      <li>Where can state be stored</li>
      <li>State synchronization</li>
      <li>Approaches to state handling</li>
      <li>Heuristics</li>
      <li>State management libraries overview</li>
      <li>Component state management</li>
      <li>Service based state management</li>
    </ol>
  </div>

  <div class="description">
    <h2><mat-icon>eco</mat-icon> Basic NgRx 8 State Management</h2>
    <ol>
      <li>Theory + hands on exercises</li>
      <li>Store (configuration, state slices, ...)</li>
      <li>Selectors (pluck state, derived state, memoization)</li>
      <li>Actions (tips, good action hygiene, ...)</li>
      <li>Reducers (immutability, ES spread syntax...)</li>
      <li>Dev tools (get current state, state diffs, ...)</li>
    </ol>
  </div>
</div>

<div class="wrapper">
  <div class="description">
    <h2>
      <mat-icon>account_balance</mat-icon> Advanced NgRx 8 State Management
    </h2>
    <ol>
      <li>Theory + hands on exercises</li>
      <li>Effects (async operations, long running processes, ...)</li>
      <li>Testing (of every concept, best practices, ...)</li>
      <li>Entity (further reduction of boilerplate)</li>
      <li>Router Store (Angular ROuter integration</li>
      <li>Schematics (generate most of the code)</li>
      <li>Data / Facade</li>
    </ol>
  </div>
  <div class="description">
    <h2><mat-icon>turned_in_not</mat-icon> Side-track Topics</h2>
    <ol>
      <li>Immutability</li>
      <li>Angular app structure</li>
      <li>RxJs flattening operators</li>
      <li>RxJs marble testing syntax</li>
      <li>State Normalization</li>
    </ol>
  </div>
</div>

<div class="wrapper">
  <div class="description">
    <h2><mat-icon>attachment</mat-icon> Extra Resources</h2>
    <ol>
      <li>Full presentation as PDF for further reference</li>
      <li>Many exercise projects (git repository)</li>
      <li>Fully working code example (reference exercise)</li>
      <li>Individual questions / exercise review during the hands on part</li>
    </ol>
  </div>
</div>

<tt-gallery [images]="images" rowHeight="1.70:1"></tt-gallery>

<tt-get-in-touch></tt-get-in-touch>
